<% set_meta_tags title: '復習モード' %>
<% set_meta_tags description: '記録しておいたカードのうち、まだ覚えていないカードをまとめて復習できます。' %>

<div data-controller="review">
  <h1 class="font-bold text-xl md:text-3xl flex justify-center font-bold my-8">復習モード</h1>
  <% if @card.nil? %>
    <%= render 'instruction' %>
  <% else %>
    <div class="change-visibility-button my-4 flex justify-end">
      <button data-review-target="switchingButton" data-action="click->review#switchEnPhraseVisibility" class="inline-flex h-[3rem] w-32 md:w-36 items-center justify-center rounded-full bg-[#21cbca] hover:bg-[#1db5b4] px-6 font-semibold md:font-medium text-sm md:text-lg text-[#fafafa]">英文を表示</button>
    </div>
    <div id="card-<%= @card.id %>" class="h-full flex flex-col items-center mb-4">
      <div class="a-card-container h-full flex flex-col w-full md:w-4/5">
        <div class="a-card h-24 h-full w-full flex justify-between border-2 border-solid border-[#aaaaaa] rounded-md mb-2">
          <div class="phrase-pair h-full w-full grid justify-items-center divide-y-2 divide-[#b0b0b0] divide-dashed">
            <div class="ja-phrase min-h-16 grid content-center w-full flex justify-center text-lg md:text-xl">
              <p><%= @card.ja_phrase %></p>
            </div>
            <div data-review-target="enPhrase" class="en-phrase min-h-16 grid content-center w-full hidden flex justify-center text-lg md:text-xl">
              <p><%= @card.en_phrase %></p>
            </div>
          </div>
        </div>
      </div>
      <div data-controller="memorized-button" class="memorized-button flex flex-col justify-center w-1/2 md:w-1/4 h-[3rem] mb-4 rounded-md border border-gray-300 border-solid bg-white hover:border-gray-500 text-[#575555]">
        <%= button_to update_memorized_status_card_path(@card),
                      method: :patch,
                      data: { memorized_button_target: 'memorizedButton', action: 'click->memorized-button#switchText' },
                      class: "flex justify-self-center justify-center w-full h-full items-center block text-xl md:text-lg h-[3rem]" do %>
          <%= @card.memorized_at.nil? ? image_tag('unchecked-box.png', alt: '覚えていない状態のチェックマーク', class: 'unchecked w-6 h-6') : image_tag('checked-box.png', alt: '覚えた状態のチェックマーク', class: 'checked w-6 h-6') %>
          <span class="inline-block ml-[1rem] font-semibold">覚えた！！</span>
        <% end %>
      </div>
    </div>
    <div class="pagination-links flex justify-between mb-8">
      <div class="w-[45%] md:w-1/4">
        <% if @previous_card %>
          <div class="previous-page inline-flex h-8 w-full items-center justify-center bg-[#21cbca] hover:bg-[#1db5b4] font-medium text-[#fafafa]">
            <%= link_to review_cards_path(id: @previous_card.id), class: 'h-full w-full flex items-center justify-center px-6 text-xs md:text-base' do %>
              <span><i class="fa-solid fa-angle-left"></i> 前のフレーズへ</span>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="w-[45%] md:w-1/4">
        <% if @next_card %>
          <div class="next-page inline-flex h-8 w-full items-center justify-center bg-[#21cbca] hover:bg-[#1db5b4] font-medium text-[#fafafa]">
            <%= link_to review_cards_path(id: @next_card.id), class: 'h-full w-full flex items-center justify-center px-6 text-xs md:text-base' do %>
              <span>次のフレーズへ <i class="fa-solid fa-angle-right"></i></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= render 'usage' %>
</div>
