<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__start">
        <a href="/cards" class="header__title">
          <%= image_tag('card_icon.jpg', alt: 'ロゴ', class: 'header__title-image') %>
        </a>
      </div>
      <% if current_user %>
        <%= image_tag current_user.image %>
        <%= current_user.name %>さん
        <%= link_to "ログアウト", log_out_path %>
      <% else  %>
        ゲストさん
        <%= button_to "Googleでログイン", "/auth/google_oauth2", method: :post, data: { turbo: false } %>
      <% end %>
      <div class="header__end">
        <%= render 'application/header/header_links' %>
      </div>
    </div>
    <hr class="a-border" />
  </div>
</header>
