<div class="header-dropdown">
  <ul class="header-dropdown__items border-2 border-[#aaaaaa] divide-y-2 divide-[#b0b0b0] divide-dashed">
    <li class="header-dropdown__item h-[2rem] flex items-center ml-[0.5rem] mr-[0.5rem]">
      <%= link_to 'トップページ', cards_path, class: 'header-dropdown__item-link flex items-center h-full w-full' %>
    </li>
    <li class="header-dropdown__item h-[2rem] flex items-center ml-[0.5rem] mr-[0.5rem]">
      <%= link_to '復習モード', review_cards_path, data: { turbo_prefetch: false }, class: 'header-dropdown__item-link flex items-center h-full w-full' %>
    </li>
    <li class="header-dropdown__item h-[2rem] flex items-center ml-[0.5rem] mr-[0.5rem]">
      <%= link_to '利用規約', terms_path, class: 'header-dropdown__item-link flex items-center h-full w-full' %>
    </li>
    <li class="header-dropdown__item h-[2rem] flex items-center ml-[0.5rem] mr-[0.5rem]">
      <%= link_to 'プライバシーポリシー', privacy_path, class: 'header-dropdown__item-link flex items-center h-full w-full' %>
    </li>
    <li class="header-dropdown__item h-[2rem] flex items-center ml-[0.5rem] mr-[0.5rem]">
      <%= link_to 'ログアウト', log_out_path, class: 'header-dropdown__item-link flex items-center h-full w-full', data: { turbo_prefetch: false } %>
    </li>
    <li class="header-dropdown__item h-[2rem] flex items-center ml-[0.5rem] mr-[0.5rem]">
      <%= link_to '退会', user_path, data: { turbo_method: :delete, turbo_confirm: '退会すると今まで作成したカードは全て削除されます。退会してよろしいですか？', turbo_prefetch: false }, class: 'header-dropdown__item-link flex items-center h-full w-full' %>
    </li>
  </ul>
</div>
