<hr class="a-border">
<footer class="h-24 mt-8 mx-8">
  <nav class="footer-nav">
    <ul class="footer-nav__items flex justify-evenly text-[10px] md:text-sm">
      <li class="footer-nav__item">
        <%= link_to 'トップページ', root_path, class: 'hover:underline' %>
      </li>
      <li class="footer-nav__item">
        <%= link_to '利用規約', terms_path, class: 'hover:underline' %>
      </li>
      <li class="footer-nav__item">
        <%= link_to 'プライバシーポリシー', privacy_path, class: 'hover:underline' %>
      </li>
      <li>
        <%= link_to 'https://github.com/ham-cap/eigo-de-do-you-note', target: '_blank', rel: 'noopener' do %>
          <%= image_tag('github_mark.svg', class: 'w-5', alt: 'GitHubのロゴ') %>
        <% end %>
      </li>
    </ul>
  </nav>
  <div class="flex justify-center mt-4">
    <span class="mr-2">© 2025</span>
    <%= link_to 'ham-cap', 'https://x.com/ham_cap93', target: '_blank', rel: 'noopener', class: 'hover:underline' %>
  </div>
</footer>
