<%= turbo_frame_tag card do %>
  <div id="card-<%= card.id %>" class="flex flex-col mb-8 mx-4 border-2 border-solid border-[#aaaaaa] rounded-md">
    <div class="a-card-container flex flex-col w-full mb-2 md:basis-5/6">
      <div class="a-card min-h-24 w-full flex justify-between mb-2">
        <div class="phrase-pair w-full h-auto grid justify-items-center divide-y-2 divide-[#b0b0b0] divide-dashed">
          <div class="ja-phrase grid content-center bg-[#caeceb] rounded-t-[4px] w-full h-auto text-xl">
            <p class="flex justify-center mx-[5px]"><%= card.ja_phrase %></p>
          </div>
          <div class="en-phrase grid content-center w-full h-auto text-xl">
            <p  class="flex justify-center mx-[5px]"><%= card.en_phrase %></p>
          </div>
        </div>
      </div>
      <div class="edit-button w-full h-[2rem] flex justify-end">
        <%= link_to '編集する', edit_card_path(card, local_assigns[:from_show] ? { from_show: from_show } : nil), data: { turbo_frame: dom_id(card) }, class: "block mr-4 text-[#21cbca] underline hover:no-underline"%>
      </div>
    </div>
    <%= turbo_frame_tag "memorized_button_#{card.id}" do %>
      <%= render 'cards/memorization_status/memorized_button', card: %>
    <% end %>
  </div>
<% end %>
