<%= turbo_frame_tag card do %>
  <div id="card-<%= card.id %>" class="flex flex-col md:flex-row mb-8">
    <div class="a-card-container flex flex-col w-full mb-2">
      <div class="a-card min-h-24 w-full flex justify-between border-2 border-solid border-[#aaaaaa] rounded-md mb-2">
        <div class="phrase-pair w-full h-auto grid justify-items-center divide-y-2 divide-[#b0b0b0] divide-dashed">
          <div class="ja-phrase grid content-center w-full h-auto text-xl">
            <p class="flex justify-center mx-[5px]"><%= card.ja_phrase %></p>
          </div>
          <div class="en-phrase grid content-center w-full h-auto text-xl">
            <p  class="flex justify-center mx-[5px]"><%= card.en_phrase %></p>
          </div>
        </div>
      </div>
      <div class="edit-button w-full h-[2rem] flex justify-center border-2 border-solid border-[#aaaaaa] text-lg hover:bg-gray-100">
        <%= link_to '編集する', edit_card_path(card, local_assigns[:from_show] ? { from_show: from_show } : nil), data: { turbo_frame: dom_id(card) }, class: "flex justify-center w-full h-full"%>
      </div>
    </div>
    <div class="memorized-button-wrapper w-full flex flex-row items-center text-xl md:text-lg md:ml-4 md:mb-8 md:w-1/6">
      <div data-controller="memorized-button" class="memorized-button flex justify-center h-[3rem] md:h-[5rem] w-full rounded-full border-1 border-solid bg-[#ffb74d] hover:bg-[#f79e1b] text-[#575555] font-semibold">
        <%= link_to card.memorized_at.nil? ? '覚えた！' : '忘れた！',
                    update_memorized_status_card_path(card),
                    data: { turbo_method: :patch,
                            memorized_button_target: 'memorizedButton',
                            action: 'click->memorized-button#switchText' },
                    class: "flex justify-center items-center w-full h-full" %>
      </div>
    </div>
  </div>
<% end %>
