<% set_meta_tags title: '登録済みのカードを編集' %>
<% set_meta_tags description: '登録済みのカードに記録されている日本語あるいは英語のフレーズを編集できます。' %>

<h1 class="flex justify-center font-bold text-4xl my-8">編集</h1>
<%= turbo_frame_tag @card do %>
  <%= form_with model: @card do |form| %>
    <div class="a-card-container justify-self-center w-5/6 mb-8">
      <div class="phrase-pair mb-2">
        <div class="ja-phrase w-full flex flex-col">
          <%= form.label :ja_phrase, "日本語のフレーズ", class: "sr-only" %>
          <%= form.text_area :ja_phrase, class: 'h-[3rem] border border-gray-400 rounded-md mb-2' %>
        </div>
        <div class="en-phrase w-full flex flex-col">
          <%= form.label :en_phrase, "英語のフレーズ", class: "sr-only" %>
          <%= form.text_area :en_phrase, class: 'h-[3rem] border border-gray-400 rounded-md' %>
        </div>
      </div>
      <% if @card.errors[:base].any? %>
        <div class="text-red-500"><%= @card.errors[:base].first %></div>
      <% else %>
        <% @card.errors.messages[:ja_phrase].each do |message| %>
          <div class="text-red-500"><%= message %></div>
        <% end %>
        <% @card.errors.messages[:en_phrase].each do |message| %>
          <div class="text-red-500"><%= message %></div>
        <% end %>
      <% end %>
      <div class="buttons grid grid-cols-3">
        <div class="submit-button col-span-2 w-5/6 h-[3rem] grid justify-items-center rounded-md border border-gray-500 bg-[#21cbca] hover:bg-[#1db5b4] text-[#fafafa]">
          <%= form.submit '更新する', class: "block w-full text-lg md:text-base flex justify-center cursor-pointer" %>
        </div>
        <div class="cancel-button col-span-1  h-[3rem] grid justify-items-center rounded-md border border-gray-500 hover:bg-gray-100 text-gray-500">
          <%= link_to 'キャンセル', @card, class: "block w-full text-lg md:text-base flex justify-self-center justify-center items-center cursor-pointer" %>
        </div>
        <div class="delete-button w-full h-[2rem] col-span-3 flex justify-end">
          <%= link_to '削除する', card_path(@card, @from_show ? { from_show: @from_show } : nil),
                                  data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？', turbo_frame: '_top' },
                                  class: "flex justify-center items-center cursor-pointer hover:underline" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
