<% set_meta_tags title: 'カードの一覧' %>
<% set_meta_tags description: '翻訳結果と原文をセットにしたカードの一覧を閲覧できます。' %>

<div>
  <h1 class="flex justify-center font-bold text-xl md:text-3xl my-8">フレーズ一覧</h1>
  <nav class="w-3/5 my-4">
    <ul data-controller="card-filter" class="filters flex justify-start">
      <li class="a-filter is-selected flex items-center justify-center w-[35%] mr-2 h-8 rounded-full border border-[#b0b0b0] text-[#b0b0b0] hover:bg-[#87faf9]" id="filter-all" data-card-filter-target="filterButton" data-action="click->card-filter#changeFilterDesign">
        <%= link_to '全て', cards_path, data: {turbo_frame: "cards"}, class: 'flex justify-center items-center w-full h-full'%>
      </li>
      <li class="a-filter flex items-center justify-center w-[35%] mr-2 h-8 rounded-full border border-[#b0b0b0] text-[#b0b0b0] hover:bg-[#87faf9]" id="filter-memorized" data-card-filter-target="filterButton" data-action="click->card-filter#changeFilterDesign">
        <%= link_to '覚えた', cards_path(target: 'memorized'), data: {turbo_frame: "cards"}, class: 'flex justify-center items-center w-full h-full'%>
      </li>
      <li class="a-filter flex items-center justify-center w-[35%] h-8 rounded-full border border-[#b0b0b0] text-[#b0b0b0] text-[10px] md:text-base hover:bg-[#87faf9]" id="filter-unmemorized" data-card-filter-target="filterButton" data-action="click->card-filter#changeFilterDesign">
        <%= link_to '覚えていない', cards_path(target: 'unmemorized'), data: {turbo_frame: "cards"}, class: 'flex justify-center items-center w-full h-full'%>
      </li>
    </ul>
  </nav>
  <div class="search_form mb-8">
    <%= search_form_for(
        @search,
        html: {
          data: {
            turbo_frame: "cards",
            controller: "search",
            action: "input->search#submit"
          }
        }) do |f| %>
      <%= f.label :ja_phrase_or_en_phrase_cont, "フレーズを検索", class: "text-[#5D6368]" %>
      <%= f.search_field :ja_phrase_or_en_phrase_cont, class: "w-1/2 h-[2rem] border border-[#5D6368] placeholder:italic placeholder:text-gray-400", placeholder: "日本語でも英語でも1文字から検索できます"%>
      <%= hidden_field_tag :target, @target %>
    <% end %>
  </div>
  <div data-controller="creation-form">
    <div class="creation_icon w-16 h-16 md:w-20 md:h-20 mr-2 md:mr-0 rounded-full bg-white hover:bg-gray-200 fixed bottom-[50px] md:bottom-[70px] right-0 md:right-auto md:left-[calc(50%+theme(maxWidth.screen-md)/2-6rem)]" data-action="click->creation-form#changeVisibility">
      <%= link_to image_tag('creation_icon.png', alt: '新規作成フォームを開くアイコン'), new_card_path, data: { turbo_frame: dom_id(Card.new) } %>
    </div>
    <div class="flex justify-center">
      <%= turbo_frame_tag Card.new, class: "flex flex-col justify-center h-[400px] w-3/4 md:w-2/3 fixed top-2 left-50 hidden", data: { "creation-form-target": "creationForm" }%>
    </div>
  </div>
  <%= turbo_frame_tag "cards" do%>
    <%= turbo_frame_tag "cards-page-#{@cards.current_page}" do %>
      <%= render partial: 'card', collection: @cards %>
      <%= turbo_frame_tag "cards-page-#{@cards.next_page}", loading: :lazy, src: path_to_next_page(@cards) %>
    <% end %>
  <% end %>
  <% if @cards.empty? %>
    <%= render 'instruction_for_card_creation' %>
  <% end %>
</div>
