<div>
  <h1 class="font-bold text-4xl">Cards#index</h1>
  <nav>
    <ul>
      <li>
        <%= link_to '全て', cards_path(target: 'all') %>
      </li>
      <li>
        <%= link_to '覚えたカード', cards_path(target: 'memorized') %>
      </li>
      <li>
        <%= link_to 'まだ覚えていないカード', cards_path(target: 'unmemorized') %>
      </li>
    </ul>
  </nav>
  <%= search_form_for @search do |f| %>
    <%= f.label :ja_phrase_or_en_phrase_cont, "カードを検索" %>
    <%= f.search_field :ja_phrase_or_en_phrase_cont %>
    <%= hidden_field_tag :target, @target %>
    <div class="actions"><%= f.submit "検索" %></div>
  <% end %>
  <%= link_to '新規作成', new_card_path, data: { turbo_frame: dom_id(Card.new) } %>
  <div>
    <%= link_to '復習モードへ', review_cards_path, data: { turbo_prefetch: false } %>
  </div>
  <%= turbo_frame_tag Card.new %>
  <%= turbo_frame_tag "cards" do%>
    <%= render partial: 'card', collection: @cards %>
  <% end %>
</div>
